<!DOCTYPE html>
<html lang="en" th:replace="~{layout :: layout(~{::div})}" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
  <p>
    <strong>ITndr</strong> is a service that offers a simple way to compare a candidate's salary expectation and a
    recruiter's salary offer in the blind. A candidate and a recruiter fill in their expectation and offer sequentially.
    Then the service compares the values. If the recruiter's salary offer is more or equal to the candidate's salary
    expectation, then the candidate and the recruiter are matched else mismatched.
  </p>
  <div th:if="${errorMessage!=null}" id="error-message" class="alert alert-warning" role="alert"
       th:text="${errorMessage}">
  </div>
  <form th:action="'/' + ${id}" method="post">
    <div class="mb-3">
      <label for="demand" class="form-label">
        <strong>If you are a candidate,</strong> please fill in the field with your salary expectation, click the save
        button, and send <a href="" onclick="return copyLink()">the link</a> to the recruiter. If you are a recruiter,
        please ignore the field.
      </label>
      <input th:if="${!demandFilled}" id="demand" name="demand" type="number" class="form-control" min="0" step="0.01"
             placeholder="Expected salary..."
      />
      <input th:if="${demandFilled}" id="demand" type="text" class="form-control" value="******" disabled/>
      <div class="form-text">A recruiter will never see what you fill in</div>
    </div>
    <div class="mb-3">
      <label for="offer" class="form-label">
        <strong>If you are a recruiter,</strong> please fill in the field with the salary upper limit, click the save
        button, and send <a href="" onclick="return copyLink()">the link</a> to the candidate. If you are a candidate,
        please ignore the field.
      </label>
      <input th:if="${!offerFilled}" id="offer" name="offer" type="number" class="form-control" min="0" step="0.01"
             placeholder="Proposed salary..."
      />
      <input th:if="${offerFilled}" id="offer" type="text" class="form-control" value="******" disabled/>
      <div class="form-text">A candidate will never see what you fill in</div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="currency" class="form-label">Currency</label>
        <select id="currency" class="form-select" name="currency"
                th:disabled="${offerFilled || demandFilled}"
        >
          <option th:selected="${currency=='USD'}">USD</option>
          <option th:selected="${currency=='EUR'}">EUR</option>
          <option th:selected="${currency=='GBP'}">GBP</option>
          <option th:selected="${currency=='CHF'}">CHF</option>
        </select>
      </div>
      <div class="col">
        <label for="period" class="form-label">Period</label>
        <select id="period" class="form-select" name="period"
                th:disabled="${offerFilled || demandFilled}"
        >
          <option th:selected="${period=='Year'}">Year</option>
          <option th:selected="${period=='Month'}">Month</option>
          <option th:selected="${period=='Day'}">Day</option>
          <option th:selected="${period=='Hour'}">Hour</option>
        </select>
      </div>
      <div class="col">
        <label for="payType" class="form-label">Gross/Net</label>
        <select id="payType" name="payType" class="form-select"
                th:disabled="${offerFilled || demandFilled}"
        >
          <option th:selected="${payType=='Gross'}">Gross</option>
          <option th:selected="${payType=='Net'}">Net</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  <script lang="javascript">
    function copyLink() {
      navigator.clipboard.writeText(window.location.href);
      return false;
    }
  </script>
</div>
</body>
</html>

